## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

mouse_metadata.head(10)
study_results.head(10)



# Combine the data into a single dataset
# Display the data table for preview

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0
5     h246          0                45.0                 0
6     p189          0                45.0                 0
7     n923          0                45.0                 0
8     q119          0                45.0                 0
9     f993          0                45.0                 0

In [2]:
# Combine the data into a single dataset
merge_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")
merge_df.head(20)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1

In [3]:
# Display the data table for preview. This should be the combined data for both.
# merge_df = merge_df.drop(merge_df.loc[merge_df["Mouse ID"]== "g989"].index)

In [4]:
# Checking the number of mice
merge_df.nunique()

Mouse ID               249
Drug Regimen            10
Sex                      2
Age_months              24
Weight (g)              16
Timepoint               10
Tumor Volume (mm3)    1644
Metastatic Sites         5
dtype: int64

In [5]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mouse = merge_df.loc[merge_df["Mouse ID"]== "g989"]
duplicate_mouse.head(2)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.0,0
909,g989,Propriva,Female,21,26,0,45.0,0

In [6]:
# Optional: Get all the data for the duplicate mouse ID.

In [7]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
merge_df = merge_df.drop(merge_df.loc[merge_df["Mouse ID"]== "g989"].index)
merge_df.head(20)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1

In [8]:
# Checking the number of mice in the clean DataFrame.
merge_df.nunique()

Mouse ID               248
Drug Regimen            10
Sex                      2
Age_months              24
Weight (g)              16
Timepoint               10
Tumor Volume (mm3)    1633
Metastatic Sites         5
dtype: int64

## Summary Statistics

In [21]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

# Groupby Drug Regimen
grouped_table_df = merge_df.groupby(["Drug Regimen"])

tumor_volume_mean = grouped_table_df["Tumor Volume (mm3)"].mean()
tumor_volume_median = grouped_table_df["Tumor Volume (mm3)"].median()
tumor_volume_std = grouped_table_df["Tumor Volume (mm3)"].std()
tumor_volume_var = grouped_table_df["Tumor Volume (mm3)"].var()
tumor_volume_sem = grouped_table_df["Tumor Volume (mm3)"].sem()

summary_table = pd.DataFrame({"Avg Tumor Volume": tumor_volume_mean, "Median Tumor Volume": tumor_volume_median, "Standard Deviation": tumor_volume_std, "Variance": tumor_volume_var, "Standard Error": tumor_volume_sem})
summary_table


#sum_table.head(5)

## You need to do a separate calculation for each mean, median, std, deviation all has to do with the volume. THe table is already set up, 
# grouped by Drug Regimen. You have to include groupby. when doing each calculation as well.

# sum_table_totals = sum_table["Mouse ID", "Drug Regimen"].count()
# sum_table_totals.head(10)
# most__popular_items_totals = most_popular_items["Item ID", "Item Name"].count()

,Avg Tumor Volume,Median Tumor Volume,Standard Deviation,Variance,Standard Error
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,4.994774,24.947764,<bound method GroupBy.sem of <pandas.core.grou...
Ceftamin,52.591172,51.776157,6.268188,39.290177,<bound method GroupBy.sem of <pandas.core.grou...
Infubinol,52.884795,51.820584,6.567243,43.128684,<bound method GroupBy.sem of <pandas.core.grou...
Ketapril,55.235638,53.698743,8.279709,68.553577,<bound method GroupBy.sem of <pandas.core.grou...
Naftisol,54.331565,52.509285,8.134708,66.173479,<bound method GroupBy.sem of <pandas.core.grou...
Placebo,54.033581,52.288934,7.821003,61.168083,<bound method GroupBy.sem of <pandas.core.grou...
Propriva,52.320930,50.446266,6.622085,43.852013,<bound method GroupBy.sem of <pandas.core.grou...
Ramicane,40.216745,40.673236,4.846308,23.486704,<bound method GroupBy.sem of <pandas.core.grou...
Stelasyn,54.233149,52.431737,7.710419,59.450562,<bound method GroupBy.sem of <pandas.core.grou...
Zoniferol,53.236507,51.818479,6.966589,48.533355,<bound method GroupBy.sem of <pandas.core.grou...

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen